[submodule "vim/.vim/pack/syntax/start/tagbar"]
	path = vim/.vim/pack/syntax/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/ctrlsf"]
	path = vim/.vim/pack/plugins/start/ctrlsf
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule "vim/.vim/pack/plugins/start/ack"]
	path = vim/.vim/pack/plugins/start/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/.vim/pack/syntax/start/anyjump"]
	path = vim/.vim/pack/syntax/start/anyjump
	url = git@github.com:pechorin/any-jump.vim.git
[submodule "vim/.vim/pack/plugins/start/gutentags"]
	path = vim/.vim/pack/plugins/start/gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/pack/plugins/start/codi"]
	path = vim/.vim/pack/plugins/start/codi
	url = git@github.com:metakirby5/codi.vim.git
[submodule "vim/.vim/pack/syntax/start/neovimrpc"]
	path = vim/.vim/pack/syntax/start/neovimrpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
[submodule "vim/.vim/pack/plugins/start/nvim-yarp"]
	path = vim/.vim/pack/plugins/start/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "vim/.vim/pack/syntax/start/deoplete-jedi"]
	path = vim/.vim/pack/syntax/start/deoplete-jedi
	url = git@github.com:deoplete-plugins/deoplete-jedi.git
[submodule "vim/.vim/pack/plugins/start/airline"]
	path = vim/.vim/pack/plugins/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/pack/syntax/start/lsc"]
	path = vim/.vim/pack/syntax/start/lsc
	url = git@github.com:natebosch/vim-lsc.git
[submodule "vim/.vim/pack/plugins/start/virtualenvvim"]
	path = vim/.vim/pack/plugins/start/virtualenvvim
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule "vim/.vim/pack/colors/start/solarized"]
	path = vim/.vim/pack/colors/start/solarized
	url = git@github.com:lifepillar/vim-solarized8.git
[submodule "vim/.vim/pack/colors/start/badwolf"]
	path = vim/.vim/pack/colors/start/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule "vim/.vim/pack/syntax/start/asyncomplete"]
	path = vim/.vim/pack/syntax/start/asyncomplete
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/pack/syntax/start/vimlsp"]
	path = vim/.vim/pack/syntax/start/vimlsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "vim/.vim/pack/syntax/start/asynccompletelsp"]
	path = vim/.vim/pack/syntax/start/asynccompletelsp
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/pack/syntax/start/deoplete"]
	path = vim/.vim/pack/syntax/start/deoplete
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "vim/.vim/pack/plugins/start/vistavim"]
	path = vim/.vim/pack/plugins/start/vistavim
	url = git@github.com:liuchengxu/vista.vim.git
[submodule "vim/.vim/pack/plugins/start/vimclap"]
	path = vim/.vim/pack/plugins/start/vimclap
	url = git@github.com:liuchengxu/vim-clap.git
[submodule "vim/.vim/pack/plugins/start/fugitive"]
	path = vim/.vim/pack/plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/colors/start/hybrid"]
	path = vim/.vim/pack/colors/start/hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "vim/.vim/pack/colors/start/flattened"]
	path = vim/.vim/pack/colors/start/flattened
	url = git@github.com:romainl/flattened.git
[submodule "vim/.vim/pack/colors/start/jellybeans"]
	path = vim/.vim/pack/colors/start/jellybeans
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim/.vim/pack/colors/start/gruv"]
	path = vim/.vim/pack/colors/start/gruv
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/.vim/pack/colors/start/oceanic"]
	path = vim/.vim/pack/colors/start/oceanic
	url = git@github.com:mhartington/oceanic-next.git
[submodule "vim/.vim/pack/plugins/start/gitgutter"]
	path = vim/.vim/pack/plugins/start/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/plugins/start/gvvim"]
	path = vim/.vim/pack/plugins/start/gvvim
	url = git@github.com:junegunn/gv.vim.git
[submodule "vim/.vim/pack/plugins/start/vimgitlog"]
	path = vim/.vim/pack/plugins/start/vimgitlog
	url = git@github.com:kablamo/vim-git-log.git
[submodule "vim/.vim/pack/plugins/start/agit"]
	path = vim/.vim/pack/plugins/start/agit
	url = git@github.com:cohama/agit.vim.git
[submodule "vim/.vim/pack/plugins/start/git-timalapse"]
	path = vim/.vim/pack/plugins/start/git-timalapse
	url = git@github.com:junkblocker/git-time-lapse.git
[submodule "vim/.vim/pack/plugins/start/vimagit"]
	path = vim/.vim/pack/plugins/start/vimagit
	url = git@github.com:jreybert/vimagit.git
[submodule "vim/.vim/pack/plugins/start/vimgitlog2"]
	path = vim/.vim/pack/plugins/start/vimgitlog2
	url = git@github.com:PAntoine/vimgitlog.git
[submodule "vim/.vim/pack/plugins/start/merginal"]
	path = vim/.vim/pack/plugins/start/merginal
	url = git@github.com:idanarye/vim-merginal.git
[submodule "vim/.vim/pack/plugins/start/smoothie"]
	path = vim/.vim/pack/plugins/start/smoothie
	url = git@github.com:psliwka/vim-smoothie.git
[submodule "vim/.vim/pack/plugins/start/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/.vim/pack/syntax/start/ale"]
	path = vim/.vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/.vim/pack/syntax/start/auto-pairs"]
	path = vim/.vim/pack/syntax/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/.vim/pack/syntax/start/python-pep8-indent"]
	path = vim/.vim/pack/syntax/start/python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "vim/.vim/pack/plugins/start/ctrlp"]
	path = vim/.vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/syntax/start/vimcommentary"]
	path = vim/.vim/pack/syntax/start/vimcommentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/syntax/start/vim-sandwich"]
	path = vim/.vim/pack/syntax/start/vim-sandwich
	url = git@github.com:machakann/vim-sandwich.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
