[submodule "vim/.vim/pack/syntax/start/tagbar"]
	path = vim/.vim/pack/syntax/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/ctrlsf"]
	path = vim/.vim/pack/plugins/start/ctrlsf
	url = git@github.com:dyng/ctrlsf.vim.git
[submodule "vim/.vim/pack/plugins/start/ack"]
	path = vim/.vim/pack/plugins/start/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/.vim/pack/syntax/start/anyjump"]
	path = vim/.vim/pack/syntax/start/anyjump
	url = git@github.com:pechorin/any-jump.vim.git
[submodule "vim/.vim/pack/plugins/start/gutentags"]
	path = vim/.vim/pack/plugins/start/gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/pack/plugins/start/airline"]
	path = vim/.vim/pack/plugins/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/pack/syntax/start/lsc"]
	path = vim/.vim/pack/syntax/start/lsc
	url = git@github.com:natebosch/vim-lsc.git
[submodule "vim/.vim/pack/syntax/start/asyncomplete"]
	path = vim/.vim/pack/syntax/start/asyncomplete
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/pack/syntax/start/vimlsp"]
	path = vim/.vim/pack/syntax/start/vimlsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "vim/.vim/pack/syntax/start/asynccompletelsp"]
	path = vim/.vim/pack/syntax/start/asynccompletelsp
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/pack/plugins/start/vistavim"]
	path = vim/.vim/pack/plugins/start/vistavim
	url = git@github.com:liuchengxu/vista.vim.git
[submodule "vim/.vim/pack/plugins/start/fugitive"]
	path = vim/.vim/pack/plugins/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/colors/start/gruv"]
	path = vim/.vim/pack/colors/start/gruv
	url = git@github.com:morhetz/gruvbox.git
[submodule "vim/.vim/pack/plugins/start/smoothie"]
	path = vim/.vim/pack/plugins/start/smoothie
	url = git@github.com:psliwka/vim-smoothie.git
[submodule "vim/.vim/pack/syntax/start/ale"]
	path = vim/.vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/.vim/pack/syntax/start/auto-pairs"]
	path = vim/.vim/pack/syntax/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim/.vim/pack/syntax/start/python-pep8-indent"]
	path = vim/.vim/pack/syntax/start/python-pep8-indent
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "vim/.vim/pack/plugins/start/ctrlp"]
	path = vim/.vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/syntax/start/vimcommentary"]
	path = vim/.vim/pack/syntax/start/vimcommentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/syntax/start/vim-sandwich"]
	path = vim/.vim/pack/syntax/start/vim-sandwich
	url = git@github.com:machakann/vim-sandwich.git
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/.vim/pack/plugins/start/easy-motion"]
	path = vim/.vim/pack/plugins/start/easy-motion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/.vim/pack/plugins/start/nnn"]
	path = vim/.vim/pack/plugins/start/nnn
	url = git@github.com:mcchrish/nnn.vim.git
