[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
